@import "tailwindcss";

@layer utilities {
  button, input, textarea, select {
    all: revert-layer;
  }
}

html

body {
  background-color: rgb(225, 223, 226);
  color: #1e293b;
}

.dark body {
  background-color: #3f3f40;
  color: #f1f5f9;
}

.gold-fill {
  fill: gold !important;
}
