/* Load CoreUI first */
@import "@coreui/coreui/dist/css/coreui.min.css";

/* Load Tailwind last */
@import "tailwindcss";

@layer utilities {
  button, input, textarea, select {
    all: revert-layer;
  }
}

html,
body,
#__next {
  height: 100%;
}

body {
  background-color: rgb(225, 223, 226);
  color: #1e293b;
}

.dark body {
  background-color: #3f3f40;
  color: #f1f5f9;
}
